.summaryItemWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 12px;

  @media (min-width: 45.625rem) {
    padding: 1rem 1.0625rem;
  }

  @media (min-width: 56.25rem) {
    padding: 1rem 1.1875rem;
  }
}

.itemGroupContainer {
  display: flex;
  gap: 1rem;
}

.label {
  @media (min-width: 45.625rem) {
    font-size: 1.125rem;
  }
}

.pointsLabel {
  font-weight: 700;
}

.totalPointsLabel {
  opacity: 50%;
}

.reaction {
  background-color: var(--red-50);

  .categoryLabel {
    color: var(--red-400);
  }
}

.memory {
  background-color: var(--yellow-50);

  .categoryLabel {
    color: var(--yellow-400);
  }
}

.verbal {
  background-color: var(--green-50);

  .categoryLabel {
    color: var(--green-500);
  }
}

.visual {
  background-color: var(--blue-50);

  .categoryLabel {
    color: var(--blue-800);
  }
}
