.summarySection {
  padding: 0 1.875rem 1.875rem;
  display: grid;
  gap: 1.5rem;

  @media (min-width: 45.625rem) {
    gap: 2rem;
    padding: 2.78125rem 2.5rem;
  }
}

.summaryList {
  display: grid;
  gap: 1rem;
}
